In [ ]:
import pandas as pd
import numpy as np

**Creating pandas data frame:**

---

In [ ]:
lib={'name_of_person':['Rajesh','Priya','Sanjay','Aishwarya','Arjun','Neha Singh','Rohit','Pooja','Vikram','Kavya'],
     'book_name':["Whispers of the Lost Kingdom","Ephemeral Echoes","Midnight Serenade","The Enigma Chronicles","Dancing with Shadows","The Starforged Prophecy","Echoes of Eternity","Sapphire Skies and Scarlet Seas","The Forgotten Gatekeeper","Chronicles of the Celestial Isle"],
     'author':['Cassandra','Arjun',np.nan,'Vikram','Maya','Liam O',np.nan,'Alexander','Priya','Sebastian'],
     'age_person':[25,np.nan,18,36,58,29,50,np.nan,21,45],
     'prize':[600,300,200,450,800,250,300,600,100,np.nan]}

In [ ]:
df=pd.DataFrame(lib)
df

,name_of_person,book_name,author,age_person,prize
0,Rajesh,Whispers of the Lost Kingdom,Cassandra,25.0,600.0
1,Priya,Ephemeral Echoes,Arjun,NaN,300.0
2,Sanjay,Midnight Serenade,NaN,18.0,200.0
3,Aishwarya,The Enigma Chronicles,Vikram,36.0,450.0
4,Arjun,Dancing with Shadows,Maya,58.0,800.0
5,Neha Singh,The Starforged Prophecy,Liam O,29.0,250.0
6,Rohit,Echoes of Eternity,NaN,50.0,300.0
7,Pooja,Sapphire Skies and Scarlet Seas,Alexander,NaN,600.0
8,Vikram,The Forgotten Gatekeeper,Priya,21.0,100.0
9,Kavya,Chronicles of the Celestial Isle,Sebastian,45.0,NaN

**Checking  the info of the dataframe :**

---

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name_of_person  10 non-null     object
 1   book_name       10 non-null     object
 2   author          8 non-null      object
 3   age_person      8 non-null      float64
 4   prize           9 non-null      float64
dtypes: float64(2), object(3)
memory usage: 528.0+ bytes

Descriptive statistics:


---

In [ ]:
df.describe()

       age_person       prize
count    8.000000    9.000000
mean    35.250000  400.000000
std     14.518461  227.760839
min     18.000000  100.000000
25%     24.000000  250.000000
50%     32.500000  300.000000
75%     46.250000  600.000000
max     58.000000  800.000000

In [ ]:
df.mean()

<ipython-input-20-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

age_person     35.25
prize         400.00
dtype: float64

In [ ]:
df.median()

<ipython-input-21-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

age_person     32.5
prize         300.0
dtype: float64

In [ ]:
df.mode()

,name_of_person,book_name,author,age_person,prize
0,Aishwarya,Chronicles of the Celestial Isle,Alexander,18.0,300.0
1,Arjun,Dancing with Shadows,Arjun,21.0,600.0
2,Kavya,Echoes of Eternity,Cassandra,25.0,NaN
3,Neha Singh,Ephemeral Echoes,Liam O,29.0,NaN
4,Pooja,Midnight Serenade,Maya,36.0,NaN
5,Priya,Sapphire Skies and Scarlet Seas,Priya,45.0,NaN
6,Rajesh,The Enigma Chronicles,Sebastian,50.0,NaN
7,Rohit,The Forgotten Gatekeeper,Vikram,58.0,NaN
8,Sanjay,The Starforged Prophecy,NaN,NaN,NaN
9,Vikram,Whispers of the Lost Kingdom,NaN,NaN,NaN

4th index oberservation:

---

In [ ]:
df.loc[4]

name_of_person                   Arjun
book_name         Dancing with Shadows
author                            Maya
age_person                        58.0
prize                            800.0
Name: 4, dtype: object

cheacking null values:

---

In [ ]:
df.isnull().any()

name_of_person    False
book_name         False
author             True
age_person         True
prize              True
dtype: bool

In [ ]:
df.isnull()

   name_of_person  book_name  author  age_person  prize
0           False      False   False       False  False
1           False      False   False        True  False
2           False      False    True       False  False
3           False      False   False       False  False
4           False      False   False       False  False
5           False      False   False       False  False
6           False      False    True       False  False
7           False      False   False        True  False
8           False      False   False       False  False
9           False      False   False       False   True

In [ ]:
df.isnull().sum()

name_of_person    0
book_name         0
author            2
age_person        2
prize             1
dtype: int64